@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  background: url('../images/bg.jpg') no-repeat;
  background-size: 100%;
}
button {
  font: inherit;
  background: transparent;
  border: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.App {
  width: 100vw;
  min-height: 100vh;
  background: url('../images/bg.jpg') no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
}
.main {
  height: 100%;
}
.hover-animate-action > img:hover {
  animation: animate-action 500ms;
}
@keyframes animate-action {
  0% {
    transform: rotate(10deg);
  }
  50%,
  100% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-10deg);
  }
}
